#top_hr{
    width: 100%;
    height: 40px;
    background-color: #4888FF;
}

#main_container{
    display: flex;
}

#sign_in_box{
    position: absolute;
    right: 28px;
    height: 52px;
    width: 109px;
    margin-top: 9px;
    background-color: #4888FF;
    border-color: #4888FF;
    text-align: center;
    vertical-align: middle;
    line-height: 52px;
    color: white;
    font-size: 20px;
    border-radius: 10px;
}

#name_text{
    color: #4888FF;
    margin-left: 15px;
    margin-top: 17px;
    font-size: 40px;
}

hr{
    border: 0;
    margin-top: -30px;
    background-color: #E6E6E6;
    height: 2px;
}

#menu{
    display: flex;
}   

#ham_menu{
    margin-left: 29px;
    margin-top: 11px;
    width: 75px;
    height: 75px;
    border-style: solid;
    border-radius: 10px;
    border-color: #E6E6E6;
    border-width: 5px;
}

#group_button{
    margin-left: 45px;
    margin-top: 11px;
    width: 245px;
    height: 75px;
    background-color: #E6E6E6;
    border-color: #E6E6E6;
    border-style: solid;
    border-radius: 50px;
    border-width: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
    font-size: 40px;
    color: #383838;
}

#scene_button{
    margin-left: 45px;
    margin-top: 11px;
    width: 245px;
    height: 75px;
    background-color: white;
    border-color: #E6E6E6;
    border-style: solid;
    border-radius: 50px;
    border-width: 5px;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
    font-size: 40px;
    color: #383838;
    animation: ease-in-out 2s;
}

#scene_button:hover{
    background-color: #E6E6E6;
}